<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>RollingLegends</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Google fonts-->
    <link
        href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/Practica2/public/css/styles.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">RollingLegends</span>
            <span class="site-heading-lower">Lista Personajes</span>
        </h1>
    </header>

    <section class="page-section clearfix">
        <div class="container">
            <div class="row">
                <div class="intro">
                    <div class="intro-ext left-0 text-center bg-faded p-5 rounded">
                        <table>
                            <tr>
                                <th>Nombre</th>
                                <th>PV</th>
                                <th>Ataque</th>
                                <th>Defensa</th>
                            </tr>
                            {{#elementos}}
                            <tr href="elemento/{{id}}">
                                <td>{{Nombre}}</td>
                                <td>{{PV}}</td>
                                <td>{{Ataque}}</td>
                                <td>{{Defensa}}</td>
                            </tr>
                            {{/elementos}}


                        </table>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-xl"
                                onclick="window.location.href='/Practica2/public/pagina_nuevo_elemento.html'">Crear nuevo
                                personaje</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>